<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serverURL" value="127.0.0.1" />
    <add key="serverPort" value="8042" />
    <add key="clientPort" value="0" />
    <add key="Disabled Activities" value="Person Description Basic" />
    <add key="HelpPath" value="file://c:/temp/Handbuch" />
    <add key="XmlPath" value="file://c:/work/.net/PIS/server/bin/debug/xml/ApplicationDefinition.xml" />
    <add key="ApplicationsAtServer" value="true" />
    <add key="DisplayUserRights" value="true" />
    <add key="StepByStepTrace" value="false" />
    <add key="ExternalTime" value="Timetrack Zeiterfassung"/>
    <add key="TopMost" value="false" />

    <!--setting regarding the cahche -->
    <!-- all these values are overwritten by the values specefied in appLauncher config, so , if the launcher is setted to use a cache, 
		the promova.exe will also use a cache for it's remote assemblies retrival,at the same location as the remoteApp launcher-->
    <add key="useClientChache" value="true" />

    <!--  if left empty, default value is to by used (%APPDATA%\[appName]\[cacheFolderName]), otherwise use a full path to the desired locaiton ( like c:\Window\TEMP) -->
    <add key="clientCacheLocation" value=""/>
    <add key="cacheFolderName" value="Cache"/>

    <add key="DisplayApplicationInfo" value="true" />



    <add key="connectionString" value="uNAhvwuwoSwyQH4W/Dqz917An3T00uR9R44sjXbLiRrNfsSdipJrYtWJXMLkidGP6p25zSzTBCWKXMPeu5z5lF+sS8i414YVko/ndJwVawE=" />
    <add key="SecurityKey" value="EcustomsSecurityKey" />
    <!--Tự động làm mới dữ liệu theo giay -->
    <add key="TimeDelay" value="30" />
    <add key="IsDebugMode" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

  </appSettings>

  <connectionStrings>
    <!--<add name="dbEcustomEntities" connectionString="dFosP4wODD0da5XJe5EAJEappYXxYp34kN34C7XdgLZvXdj3hqm2THW0JG0KaFQBGf4JzjvizJmzwC9YiLoy/u4LBN8/8+voNmMkkllo+Hzn7NooHx8uCBDwRaSzFOvvwG+EgceHsSjA6XJdyZlkULkbHJ2+kiwkMQypVaL2m/T/TlIDr1SiKZffN9YO1awzR0MmFitYNWo6QKl+qqVBLRYEEpfTtb3+69S5xnhAjQ/iK1ZUYKYaF/eW3lzb1QTdvM2lWQYXTM6VLoogjmxrt2e4EnaJF7AVpxuuJo1r7Ek26/ULm6GOJI0DQM8zSDQS6/QuddfXifrITs3tuYzBUQ==" providerName="System.Data.EntityClient" />-->
    <add name="dbEcustomEntities" connectionString="dFosP4wODD0da5XJe5EAJEappYXxYp34kN34C7XdgLZvXdj3hqm2THW0JG0KaFQBGf4JzjvizJmzwC9YiLoy/u4LBN8/8+voNmMkkllo+Hzn7NooHx8uCBDwRaSzFOvvwG+EgceHsSjA6XJdyZlkULkbHJ2+kiwkMQypVaL2m/T/TlIDr1SiKZffN9YO1awzR0MmFitYNWo6QKl+qqVBLf1+3Ocs0vf2XBKRoJqbVvu/5X0Tg6HupvcGS3iLVZxvIoNL6q4j4aDzYEL91CtF7ki9Lj0TMqs/cW8899J8vL/tLeeB7hK2/YBjvfMsY2N5cvOdYapefKrVgM5iaKTMYaJ4s2YmigmF" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IeCustomSyncWCF" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732//eCustomSyncWCF/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IeCustomSyncWCF" contract="eCustomSync.IeCustomSyncWCF" name="WSHttpBinding_IeCustomSyncWCF">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>