USE [dbECustoms]
GO

/****** Object:  Table [dbo].[tblPermissionType]    Script Date: 09/07/2012 01:04:14 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblPermissionType]') AND type in (N'U'))
DROP TABLE [dbo].[tblPermissionType]
GO
USE [dbECustoms]
GO
/****** Object:  Table [dbo].[tblPermissionType]    Script Date: 09/07/2012 01:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPermissionType](
	[TypeCode] [nvarchar](10) NOT NULL,
	[TypeName] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblPermissionType] PRIMARY KEY CLUSTERED 
(
	[TypeCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblPermissionType] ([TypeCode], [TypeName]) VALUES (N'AA', N'Quản lý nhóm người dùng')
INSERT [dbo].[tblPermissionType] ([TypeCode], [TypeName]) VALUES (N'AB', N'Quản lý người dùng')
INSERT [dbo].[tblPermissionType] ([TypeCode], [TypeName]) VALUES (N'AC', N'Quản lý tờ khai')
/****** Object:  Table [dbo].[tblPermission]    Script Date: 09/07/2012 01:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
USE [dbECustoms]
GO

/****** Object:  Table [dbo].[tblPermission]    Script Date: 09/07/2012 01:03:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblPermission]') AND type in (N'U'))
DROP TABLE [dbo].[tblPermission]
GO

CREATE TABLE [dbo].[tblPermission](
	[PermissionID] [int] NOT NULL,
	[Permission] [nvarchar](250) NULL,
	[IsSynced] [bit] NULL,
	[TypeCode] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblPermission] ([PermissionID], [Permission], [IsSynced], [TypeCode]) VALUES (1, N'Tạo mới người dùng', 0, N'AB')
INSERT [dbo].[tblPermission] ([PermissionID], [Permission], [IsSynced], [TypeCode]) VALUES (2, N'Tạo mới nhóm người dùng', 0, N'AA')
INSERT [dbo].[tblPermission] ([PermissionID], [Permission], [IsSynced], [TypeCode]) VALUES (3, N'Cập nhật người dùng', 0, N'AB')
