<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="uNAhvwuwoSwyQH4W/Dqz917An3T00uR9R44sjXbLiRrNfsSdipJrYtWJXMLkidGP6p25zSzTBCWKXMPeu5z5lF+sS8i414YVko/ndJwVawE=" />
    <add key="SecurityKey" value="EcustomsSecurityKey" />
    <!--Tự động làm mới dữ liệu theo giay -->
    <add key="TimeDelay" value="30" />
    <add key="IsDebugMode" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="dbEcustomEntities" connectionString="dFosP4wODD0da5XJe5EAJEappYXxYp34kN34C7XdgLZvXdj3hqm2THW0JG0KaFQBGf4JzjvizJmzwC9YiLoy/u4LBN8/8+voNmMkkllo+Hzn7NooHx8uCBDwRaSzFOvvwG+EgceHsSjA6XJdyZlkULkbHJ2+kiwkMQypVaL2m/T/TlIDr1SiKZffN9YO1awzR0MmFitYNWo6QKl+qqVBLRYEEpfTtb3+69S5xnhAjQ/iK1ZUYKYaF/eW3lzb1QTdvM2lWQYXTM6VLoogjmxrt2e4EnaJF7AVpxuuJo1r7Ek26/ULm6GOJI0DQM8zSDQS6/QuddfXifrITs3tuYzBUQ==" providerName="System.Data.EntityClient" />-->
    <add name="dbEcustomEntities" connectionString="dFosP4wODD0da5XJe5EAJEappYXxYp34kN34C7XdgLZvXdj3hqm2THW0JG0KaFQBGf4JzjvizJmzwC9YiLoy/u4LBN8/8+voNmMkkllo+Hzn7NooHx8uCBDwRaSzFOvvwG+EgceHsSjA6XJdyZlkULkbHJ2+kiwkMQypVaL2m/T/TlIDr1SiKZffN9YO1awzR0MmFitYNWo6QKl+qqVBLYwhsUypG1DnoHDks5we9CtHjiyNdsuJGs1+xJ2KkmtiENB2lV6cHkXO9AdgKfS34GJt/tm4wak/RSO6iu5vlnk1DMx4BrpNHsl84NjZ8/jiDZI+8dOkJfxXQqFleQA/Y50El3feWmgr" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>