USE [dbECustoms]
GO
/****** Object:  Table [dbo].[tblCustoms]    Script Date: 08/22/2012 07:40:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblCustoms]') AND type in (N'U'))
DROP TABLE [dbo].[tblCustoms]
GO
/****** Object:  Table [dbo].[tblType]    Script Date: 08/22/2012 07:40:55 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblType]') AND type in (N'U'))
DROP TABLE [dbo].[tblType]
GO
/****** Object:  Table [dbo].[tblType]    Script Date: 08/22/2012 07:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tblType](
	[TypeCode] [nvarchar](50) NOT NULL,
	[TypeName] [nvarchar](500) NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_tblType] PRIMARY KEY CLUSTERED 
(
	[TypeCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[tblType] ([TypeCode], [TypeName], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'CNC01', N'Chứng từ nhập chế xuất sản xuất', NULL, CAST(0x0000A0B50071B4DC AS DateTime), 3, NULL, NULL)
INSERT [dbo].[tblType] ([TypeCode], [TypeName], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'CNC02', N'Chứng từ nhập chế xuất đầu tư', NULL, CAST(0x0000A0B50071B4DC AS DateTime), 3, NULL, NULL)
INSERT [dbo].[tblType] ([TypeCode], [TypeName], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'CNC03', N'Chứng từ nhập chế xuất tiêu dùng', NULL, CAST(0x0000A0B50071B4DC AS DateTime), 3, NULL, NULL)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[tblCustoms]    Script Date: 08/22/2012 07:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblCustoms]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tblCustoms](
	[CustomsCode] [nvarchar](50) NOT NULL,
	[CustomsName] [nvarchar](500) NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsSynced] [bit] NULL,
 CONSTRAINT [PK_tblCustoms] PRIMARY KEY CLUSTERED 
(
	[CustomsCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[tblCustoms] ([CustomsCode], [CustomsName], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsSynced]) VALUES (N'A01B  ', N'Chi cục HQ CK Sân bay Quốc tế Nội Bài', NULL, CAST(0x0000A0B50071B55E AS DateTime), 3, NULL, NULL, NULL)
INSERT [dbo].[tblCustoms] ([CustomsCode], [CustomsName], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsSynced]) VALUES (N'A01B01', N'Chi cục HQ Sân bay Nội bài-Đội Kho hàng', NULL, CAST(0x0000A0B50071B55E AS DateTime), 3, NULL, NULL, NULL)
INSERT [dbo].[tblCustoms] ([CustomsCode], [CustomsName], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsSynced]) VALUES (N'A01B02', N'Chi cục HQ Sân bay Nội bài-Đội Xuất', NULL, CAST(0x0000A0B50071B55E AS DateTime), 3, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
