<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="connectionString" value="uNAhvwuwoSwyQH4W/Dqz917An3T00uR9R44sjXbLiRrNfsSdipJrYtWJXMLkidGP6p25zSzTBCWKXMPeu5z5lF+sS8i414YVko/ndJwVawE=" />
    <add key="SecurityKey" value="EcustomsSecurityKey" />
    <!--Tự động làm mới dữ liệu theo giay -->
    <add key="TimeDelay" value="30" />
    <add key="IsDebugMode" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <connectionStrings>
    <!--<add name="dbEcustomEntities" connectionString="dFosP4wODD0da5XJe5EAJEappYXxYp34kN34C7XdgLZvXdj3hqm2THW0JG0KaFQBGf4JzjvizJmzwC9YiLoy/u4LBN8/8+voNmMkkllo+Hzn7NooHx8uCBDwRaSzFOvvwG+EgceHsSjA6XJdyZlkULkbHJ2+kiwkMQypVaL2m/T/TlIDr1SiKZffN9YO1awzR0MmFitYNWo6QKl+qqVBLRYEEpfTtb3+69S5xnhAjQ/iK1ZUYKYaF/eW3lzb1QTdvM2lWQYXTM6VLoogjmxrt2e4EnaJF7AVpxuuJo1r7Ek26/ULm6GOJI0DQM8zSDQS6/QuddfXifrITs3tuYzBUQ==" providerName="System.Data.EntityClient" />-->
    <add name="dbEcustomEntities" connectionString="dFosP4wODD0da5XJe5EAJEappYXxYp34kN34C7XdgLZvXdj3hqm2THW0JG0KaFQBGf4JzjvizJmzwC9YiLoy/u4LBN8/8+voNmMkkllo+Hzn7NooHx8uCBDwRaSzFOvvwG+EgceHsSjA6XJdyZlkULkbHJ2+kiwkMQypVaL2m/T/TlIDr1SiKZffN9YO1awzR0MmFitYNWo6QKl+qqVBLf1+3Ocs0vf2XBKRoJqbVvu/5X0Tg6HupvcGS3iLVZxvIoNL6q4j4aDzYEL91CtF7ki9Lj0TMqs/cW8899J8vL/tLeeB7hK2/YBjvfMsY2N5cvOdYapefKrVgM5iaKTMYaJ4s2YmigmF" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TechLink.WindowsSync.eCustomSyncWCFBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="TechLink.WindowsSync.eCustomSyncWCFBehavior" name="TechLink.WindowsSync.eCustomSyncWCF">
        <endpoint address="" binding="wsHttpBinding" contract="TechLink.WindowsSync.IeCustomSyncWCF">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732//eCustomSyncWCF/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
