<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Version" value="1.0.1" />
    <add key="SecurityEnabled" value="true" />
    <add key="ServerType" value="ServerPrevalence" />
    <add key="ApplicationDefinitionData" value="ApplicationDefinition.xml" />
    <add key="port" value="8042" />
    <add key="WebServerPort" value="8043" />
    <add key="ClientServerEventsEnabled" value="yes" />
    <add key="BlockMultipleLoggins" value="yes" />
    <add key="PolicyFilePath" value="Policy.xml" />
    <add key="CurrentDate" value="30.07.2009" />
    <add key="MonitorInterval" value="10" />
    <add key="ClassificationXmlFile" value="ClassificationData.xml" />
    <add key="TemplateClassificationNodePath" value="classifcationtemplate.xml" />
    <add key="MonitorURL" value="http://www.markbook.com/goldkeeper/version/getversionlist.aspx?CustomerName={0}&amp;Version={1}" />
    <add key="LastClientFields" value="SSNN,BirthDay,Gender,Language" />
    <add key="InstallationName" value="PIS_1.0.1" />
    <add key="CheckversionInterval" value="12" />
    <add key="NumberOfClients" value="3" />
    <add key="LicenseFile" value="License.xml" />
    <add key="SqlServerName" value=".\SQL2008Express"/>
    <add key="SqlDatabaseName" value="PIS2012V1"/>
    <add key="SqlUserName" value="fastaccess"/>
    <add key="SqlPassword" value="admin@123"/>
  </appSettings>
</configuration>