USE [dbECustoms]

/****** Object:  Table [dbo].[tblPermission]    Script Date: 10/24/2011 23:37:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblPermission]') AND type in (N'U'))
DROP TABLE [dbo].[tblPermission]

GO
/****** Object:  Table [dbo].[tblPermission]    Script Date: 10/13/2011 00:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPermission](
	[PermissionID] [int] NOT NULL,
	[Permission] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblPermission] ([PermissionID], [Permission]) VALUES (1, N'Tạo mới người dùng')
INSERT [dbo].[tblPermission] ([PermissionID], [Permission]) VALUES (2, N'Tạo mới nhóm người dùng')
INSERT [dbo].[tblPermission] ([PermissionID], [Permission]) VALUES (3, N'Cập nhật người dùng')

