<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="serverURL" value="localhost" />
		<add key="serverPort" value="8090" />
		<add key="Disabled Activities" value="Person Description Basic" />
		<add key="ApplicationsAtServer" value="true" />
		<add key="DisplayUserRights" value="false" />
		<add key="StepByStepTrace" value="false" />
		<add key="ExternalTime" value="Timetrack GoldKeeper 1.0" />
		
		
		<!--setting regarding the cahche -->
		<!-- all these values are overwritten by the values specefied in appLauncher config, so , if the launcher is setted to use a cache, 
		the promova.exe will also use a cache for it's remote assemblies retrival,at the same location as the remoteApp launcher-->
		<add key="useClientChache" value="true" />
		
		<!--  if left empty, default value is to by used (%APPDATA%\[appName]\[cacheFolderName]), otherwise use a full path to the desired locaiton ( like c:\Window\TEMP) -->
		<add key="clientCacheLocation" value="" />
		<add key="cacheFolderName" value="Cache" />
		
		<!--  Add Extra menu items in View menu. Value contains the name of the tool  -->
		<add key="ExtraMenuTool1" value="CalendarAppointment"/>
		<add key="ExtraMenuTool2" value="ExternalBrowserLauncher"/>
		
	</appSettings>
</configuration>
