<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbEcustomEntities" connectionString="metadata=res://*/ModelEcustoms.csdl|res://*/ModelEcustoms.ssdl|res://*/ModelEcustoms.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vuongdd-laptop;initial catalog=dbECustoms;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>