<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="dbEcustomEntities" connectionString="metadata=res://*/ModelEcustoms.csdl|res://*/ModelEcustoms.ssdl|res://*/ModelEcustoms.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Cosmos-Lap;Initial Catalog=eCustoms;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="dbEcustomEntities" connectionString="metadata=res://*/ModelEcustoms.csdl|res://*/ModelEcustoms.ssdl|res://*/ModelEcustoms.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Cosmos-Lap;Initial Catalog=eCustoms;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="dbEcusDeclaration" connectionString="metadata=res://*/ModelEcusDeclaration.csdl|res://*/ModelEcusDeclaration.ssdl|res://*/ModelEcusDeclaration.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Cosmos-LAP;Initial Catalog=HaiQuan;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>